/*Browsers read text from top to bottom */


body {
  background-color: ivory;
  color:black;
  font-family: monospace;
}



* {
  border: 1px solid blue;
}


h4 {
  color: lightgray;
}

p {
  font-family: "Poiret One", sans-serif;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid red;
  /*a later element can override the original one given in body - here the color white above
  is overridden by the tan because it comes later in the css file*/
  color: tan;
}



.places-list {
  background-color: gray;
}

/*Again overriding text color from above*/
.red-text {
  color:red;
}

.blue-text {
  color:blue;
}
/*Paragraphs*/

.journal-one {
  margin-left: 0;
  margin-right: 0;
  border: 3px solid black;

}

.journal-two {
  padding: 2em;
  margin-top: 1em;
  margin-right: 3em;
  margin-left: 3em;
  color:black !important;
}

.journal-three {
  padding: 2vh;
  margin-top: 3em;
  margin-right: 5em;
  margin-left: 5em;
}

.journal-four {
  padding: 2vw;
  margin-top: 5em;
  margin-left: 7em;
  margin-right: 7em;
}

.logo {
  height: 100px;
  width: 100px;
}
